<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navigation">
      <figure class="navigation__logo">
        <!-- Add your logo here -->
        <img src="logo.png" alt="I am logo" class="navigation--img" />
      </figure>
      <button class="navigation--toggler js-btn">Click me to toggle</button>
      <ul class="navigation__list js-menu">
        <li class="navigation__list--item">
          <a href="" class="navigation__list--item-link">Link-1</a>
        </li>
        <li class="navigation__list--item">
          <a href="" class="navigation__list--item-link">Link-2</a>
        </li>
        <li class="navigation__list--item">
          <a href="" class="navigation__list--item-link">Link-3</a>
        </li>
        <li class="navigation__list--item">
          <a href="" class="navigation__list--item-link">Link-4</a>
        </li>
        <li class="navigation__list--item">
          <a href="" class="navigation__list--item-link">Link-5</a>
        </li>
      </ul>

      <!-- Mobile Navigation Icon -->
      <!-- <div class="nav--icon-box js-menu-btn">
        <div class="nav--icon nav--icon-top"></div>
        <div class="nav--icon nav--icon-center"></div>
        <div class="nav--icon nav--icon-bottom"></div>
      </div> -->
    </nav>
  </body>
</html>
