*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  //! Correct way to write style

  //* display stuff
  // display:grid;
  // display:flex;

  //* position stuff
  // position: relative;
  // top,bottom
  // inset

  //* box-model stuff
  // background
  // margin
  // padding
  // height
  // width

  //* typography
  // font-size
  // font-weight

  //* manipulation
  // transform
  // opacity
  // filter

  //* misc
  // other properties which do not fall under the above
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.preload * {
  transition: none !important;
}

// custom scrollbar
::-webkit-scrollbar {
  width: 2rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 2rem;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
