<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
    <title>Slider</title>
  </head>
  <body>
    <div class="slide-container">
      <div class="slide">Slide-1</div>
      <div class="slide">Slide-2</div>
      <div class="slide">Slide-3</div>
      <div class="slide">Slide-4</div>
      <button class="btn btn-left">&lt;</button>
      <button class="btn btn-right">&gt;</button>
      <div class="dots-container js-dot"></div>
    </div>
  </body>
</html>
